<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]QUẢN LÝ BÁN HÀNG</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            margin: 0;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 15%;
            background-color: floralwhite;
            position: fixed;
            height: 100%;
            overflow: auto;
        }

        li a {
            display: block;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
        }

            li a.active {
                background-color: floralwhite;
                font-weight: bold;
                color: royalblue;
            }

            li a:hover:not(.active) {
                background-color: #db7093;
                font-weight: bold;
                color: white;
            }
    </style>
</head>
<body>

    <ul>
        <li><a class="active" href="https://localhost:44374/">QUẢN LÝ BÁN HÀNG</a></li>
        <li><a href="https://localhost:44374/NhanViens">Nhân viên</a></li>
        <li><a href="https://localhost:44374/KhachHangs">Khách Hàng</a></li>
        <li><a href="https://localhost:44374/HoaDons">Hóa đơn</a></li>
        <li><a href="https://localhost:44374/SanPhams">Sản phẩm</a></li>
        <li><a href="https://localhost:44374/ChiTietHDs">Chi tiết hóa đơn</a></li>
    </ul>

    
    <div class="container" style="margin-left:15%;padding:8px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>