@model TestNo.Models.SanPham
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
    .modal {
        z-index: 1;
        position: fixed;
    }

    .modal-body {
        column-count: 2;
        column-gap: 40px;
    }
</style>
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#DeleteSP">
    Delete
</button>

<!-- Modal -->
<div class="modal fade" id="DeleteSP" tabindex="-1" role="dialog" aria-labelledby="DeleteSPLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteSPLabel">localhost:44374 cho biet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Xác nhận xóa đối tượng này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>