
<!DOCTYPE html>
<html>


<body class="w3-container">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="text-center">
        <h1>TRANG QUẢN TRỊ</h1>
    </div>
    <h4>THỐNG KÊ</h4>
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                <h5>Tổng số nhân viên: 3</h5>
                <h5>Tổng số khách hàng: 3</h5>
                <h5>Tổng tiền thu được: 100$</h5>
            </th>
        </tr>
    </table>
</body>
</html>
